<section class="section-advantages">
  <div class="section-advantages__container container">
    <h2 class="section-advantages__title">НАСТОЯЩИЙ ВЫСОКИЙ ОГОНЬ У ВАС ДОМА</h2>
    <p class="section-advantages__text">Благодаря специальной технологии горения биоэтанола
      мы добились горения потрясающей красоты</p>
    <div class="section-advantages__items">
      <div class="section-advantages__item">
        <svg class="section-advantages__item-icon">
          <use xlink:href="./img/svg/section-advantages/image-1.svg#image-1"></use>
        </svg>
        <p class="section-advantages__item-text">Пламя яркое, высотой
          до 20 сантиметров</P>
      </div>
      <div class="section-advantages__item">
        <svg class="section-advantages__item-icon">
          <use xlink:href="./img/svg/section-advantages/image-2.svg#image-2"></use>
        </svg>
        <p class="section-advantages__item-text">Работает такой камин
          на биотопливе
        </P>
      </div>
      <div class="section-advantages__item">
        <svg class="section-advantages__item-icon">
          <use xlink:href="./img/svg/section-advantages/image-3.svg#image-3"></use>
        </svg>
        <p class="section-advantages__item-text">Он не дымит и не пахнет</P>
      </div>
    </div>
  </div>
</section>
