<section class="section-choose-us">
  <div class="container">
    <div class="section-choose-us__row">
      <h2 class="section-choose-us__title">ЕСТЬ ЗАДАЧА?ЕСТЬ РЕШЕНИЕ!</h2>
      <div class="section-choose-us__subrow">
        <div class="section-choose-us__item"></div>
        <div class="section-choose-us__item"></div>
        <div class="section-choose-us__item"></div>
      </div>
    </div>
    <div class="section-choose-us__row">
      <h2 class="section-choose-us__title">ПОЧЕМУ МЫ МОЖЕМ МНОГОЕ?<br>СВОИ ЛЮДИ.
        СВОИ СТАНКИ.СВОЯ ЛАБОРОТОРИЯ</h2>
      <div class="section-choose-us__subrow">
        <div class="section-choose-us__item"></div>
        <div class="section-choose-us__item"></div>
        <div class="section-choose-us__item"></div>
      </div>
    </div>
  </div>
</section>
