<section class="section-constructor">
  <div class="section-constructor__container container">
    <h2 class="section-constructor__title">ВЫ АВТОР ВАШЕГО КАМИНА</h2>
    <div class="section-constructor__row">
      <img class="section-constructor__row-image" src="./img/section-constructor/section-image.png">
      <div class="section-constructor__row-options">
        <div class="length-range">
          <h4 class="length-range__title">ВЫБЕРИТЕ ДЛИННУ</h4>
          <div class="length-range__field">
            <div class="length-range__value">0.5 м</div>
            <input class="length-range__input" type="range" min="1" max="10" value="3">
            <div class="length-range__value">10 м</div>
          </div>
        </div>
        <div class="front-panel-option">
          <h4 class="front-panel__title">ЛИЦЕВАЯ ПАНЕЛЬ</h4>
          <div class="slider">
            <div class="slider-line">
              <img src="./img/section-constructor/front-panel/image-1.png" alt="">
              <img src="./img/section-constructor/front-panel/image-1.png" alt="">
              <img src="./img/section-constructor/front-panel/image-1.png" alt="">
            </div>
          </div>
          <button class="button slider-prev" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM11.289,4.3,12.711,5.7l-4.3,4.344L12.7,14.289,11.3,15.711,5.586,10.063Z" />
            </svg>
          </button>
          <button class="button slider-next" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM8.711,4.3l5.7,5.766L8.7,15.711,7.3,14.289l4.289-4.242L7.289,5.7Z" />
            </svg>
          </button>
        </div>
        <div class="additional-option">
          <h4 class="additional-option__title">ДОПОЛНИТЕЛЬНЫЕ ФУНКЦИИ</h4>
          <div class="additional-option__checkboxs">
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_1">
              <label class="checkbox__label" for="checkbox_1">Защита от детей</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_2">
              <label class="checkbox__label" for="checkbox_2">Защита от детей</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_3">
              <label class="checkbox__label" for="checkbox_3">Wi-Fi</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_4">
              <label class="checkbox__label" for="checkbox_4">Wi-Fi</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_5">
              <label class="checkbox__label" for="checkbox_5">Защита от детей</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_6">
              <label class="checkbox__label" for="checkbox_6">Защита от детей</label>
            </div>
            <div class="additional-option__checkbox checkbox">
              <input class="checkbox__input" type="checkbox" id="checkbox_7">
              <label class="checkbox__label" for="checkbox_7">Wi-Fi</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-constructor__result-items">
      <div class="section-constructor__result-item">
        <h4 class="result-item__title">ДЛИНА</h4>
        <p class="result-item__text">6.5м</p>
      </div>
      <div class="section-constructor__result-item">
        <h4 class="result-item__title">ЛИЦЕВАЯ ПАНЕЛЬ</h4>
        <p class="result-item__color"></p>
      </div>
      <div class="section-constructor__result-item">
        <h4 class="result-item__title">СТОИМОСТЬ</h4>
        <p class="result-item__price">99 000Р</p>
      </div>
      <div class="section-constructor__result-item">
        <button class="section-promo__button" type="button">Оставить заявку</button>
      </div>
    </div>
  </div>
</section>
