<section class="section-describe">
  <div class="section-describe__container container">
    <div class="section-describe__row">
      <div class="section-describe__row-column">
        <h3 class="section-describe__subtitle">Топливный блок</h3>
        <figure>
          <figcaption>Лицевая панель из жаропрочной нержавеющей стали толщиной 5 мм</figcaption>
          <img class="section-describe__image" src="./img/section-describe/section-image.png">
        </figure>
        <div class="section-describe__finishing desc-template">
          <h3 class="desc-template__title">Вариант отделки</h3>
          <div class="desc-template__text-row">
            <div class="desc-template__text-colum">
              <p class="desc-template__text">черный матовый</p>
              <p class="desc-template__text">шлифованая сталь</p>
            </div>
            <div class="desc-template__text-colum">
              <p class="desc-template__text">керамика</p>
              <p class="desc-template__text">нитрид титана</p>
            </div>
          </div>
        </div>
        <div class="section-describe__complexion desc-template">
          <h3 class="desc-template__title">Стандартная комплектация</h3>
          <div class="desc-template__text-row">
            <div class="desc-template__text-colum">
              <p class="desc-template__text">Управление с кнопок</p>
              <p class="desc-template__text">С помощью пульта</p>
              <p class="desc-template__text">Умный дом</p>
              <p class="desc-template__text">Без шумность</p>
              <p class="desc-template__text">Датчик CO2</p>
              <p class="desc-template__text">Датчик пролива</p>
            </div>
            <div class="desc-template__text-colum">
              <p class="desc-template__text">Датчик температуры</p>
              <p class="desc-template__text">Датчик наклона</p>
              <p class="desc-template__text">Дисплей</p>
              <p class="desc-template__text">Индикатор уровня топлива</p>
              <p class="desc-template__text">Блокировка залива топлива</p>
              <p class="desc-template__text">кнопка отключения от сетей</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-describe__row-column template-v2 slider-1">
        <h3 class="template-v2__title">Очаги для встраивания в нишу
          по<br> Вашим размерам</h3>
        <p class="template-v2__text">Короб выполненый из нержавеющей стали 2 мм или холоднокатанной стали 3 мм Окрашен
          кремнийорганической и акриловой краской
          Каждый комплектуется керамическим матом
          Лучшая теплоизолированость из доступных
          Изготавливается исключительно под Ваши размеры
          Наши технологи спроектируют техническое задание для ниши учитывая
          особенности Вашего ремонта.
          Размер ограничен только Вашей фантазией
          Отделка стемалитом и цветными металлами</p>
        <div class="slider">
          <div class="slider-line">
            <img src="./img/section-describe/slider/image-1.png" alt="">
            <img src="./img/section-describe/slider/image-2.png" alt="">
            <img src="./img/section-describe/slider/image-3.png" alt="">
            <img src="./img/section-describe/slider/image-4.png" alt="">
          </div>
          <button class="button slider-prev" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM11.289,4.3,12.711,5.7l-4.3,4.344L12.7,14.289,11.3,15.711,5.586,10.063Z" />
            </svg>
          </button>
          <button class="button slider-next" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM8.711,4.3l5.7,5.766L8.7,15.711,7.3,14.289l4.289-4.242L7.289,5.7Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="section-describe__row">
      <div class="section-describe__row-column template-v2 slider-2">
        <h3 class="template-v2__title">Готовые решения</h3>
        <p class="template-v2__text">Напольные отдельно стоящие камины.<br>
          Настенные очаги которые вешаются как ТВ.</p>
        <div class="slider">
          <div class="slider-line">
            <img src="./img/section-describe/slider/image-2.png" alt="">
            <img src="./img/section-describe/slider/image-3.png" alt="">
            <img src="./img/section-describe/slider/image-1.png" alt="">
            <img src="./img/section-describe/slider/image-4.png" alt="">
          </div>
          <button class="button slider-prev" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM11.289,4.3,12.711,5.7l-4.3,4.344L12.7,14.289,11.3,15.711,5.586,10.063Z" />
            </svg>
          </button>
          <button class="button slider-next" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM8.711,4.3l5.7,5.766L8.7,15.711,7.3,14.289l4.289-4.242L7.289,5.7Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="section-describe__row-column template-v2 slider-3">
        <h3 class="template-v2__title">Аксесуары</h3>
        <p class="template-v2__text">Защитные экраны, Дверцы, Стемалит, Дрова,<br>
          Камни, Кастомные пульты</p>
        <div class="slider">
          <div class="slider-line">
            <img src="./img/section-describe/slider/image-3.png" alt="">
            <img src="./img/section-describe/slider/image-4.png" alt="">
            <img src="./img/section-describe/slider/image-2.png" alt="">
            <img src="./img/section-describe/slider/image-1.png" alt="">
          </div>
          <button class="button slider-prev" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM11.289,4.3,12.711,5.7l-4.3,4.344L12.7,14.289,11.3,15.711,5.586,10.063Z" />
            </svg>
          </button>
          <button class="button slider-next" type="button">
            <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <path
                d="M10,20A10,10,0,1,0,0,10,10,10,0,0,0,10,20ZM8.711,4.3l5.7,5.766L8.7,15.711,7.3,14.289l4.289-4.242L7.289,5.7Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
