<footer class="footer">
  <div class="container">
    <div class="footer__title">СВЯЗАТЬСЯ С НАМИ</div>
    <div class="footer__items">
      <div class="footer__item">
        <h4 class="item__title">WhatsApp</h4>
        <p class="item__text">+7911 306 4144</p>
      </div>
      <div class="footer__item">
        <h4 class="item__title">Почта</h4>
        <p class="item__text">info@elite-fire.ru</p>
      </div>
      <div class="footer__item">
        <h4 class="item__title">Телефон</h4>
        <p class="item__number">8 911 306 4144</p>
      </div>
      <div class="footer__item">
        <h4 class="item__title">Телеграмм</h4>
        <p class="item__text">@elite_fire</p>
      </div>
      <div class="footer__item">
        <h4 class="item__title">Наш адрес</h4>
        <p class="item__text">Россия, г. Москва,<br>
          Варшавское шоссе, 170 г
        </p>
      </div>
      <div class="footer__item">
        <button class="footer__button" type="button">Связаться с менеджером</button>
      </div>
    </div>
    <div class="footer__bottom-items">
      <a class="footer__bottom-logo" href="#">ELITE FIRE</a>
      <p class="footer__bottom-item">2020-2021</p>
      <p class="footer__bottom-item">ООО “МЕТАЛЛЭЛЕКТРОИНВЕСТ”</p>
      <p class="footer__bottom-item">Пользовательское соглашение</p>
    </div>
  </div>
</footer>
