<section class="section-offer">
  <div class="section-offer__container container">
    <h1 class="section-offer__title">
      АВТОМАТИЧЕСКИЕ<br> БИОКАМИНЫ
    </h1>
    <p class="section-offer__price">от 99 000₽</p>
    <div class="section-offer__facilities">
      <div class="section-offer__facilities-item">
        <svg class="section-offer__facilitie-icon" >
          <use xlink:href="./img/svg/section-offer/first_icon.svg#first_icon"></use>
        </svg>
        <p class="section-offer__facilitie-text">Свое
          производство</p>
      </div>
      <div class="section-offer__facilities-item">
        <svg class="section-offer__facilitie-icon">
          <use xlink:href="./img/svg/section-offer/second_icon.svg#second_icon"></use>
        </svg>
        <p class="section-offer__facilitie-text">Доставка в любую
          точку мира</p>
      </div>
    </div>
    <img class="section-offer__image" src="img/section-offer/section-image.png" alt="Камин">
  </div>
</section>
