<section class="section-refuel">
  <div class="section-refuel__container container">
    <h2 class="section-refuel__title">ЗАПРАВКА</h2>
    <p class="section-refuel__text">Внутри не просто труба. Спроектированный нами бак, самого большого обьема среди всех
      производителей</p>
    <p class="section-refuel__text">В наши топливные блоки встроен мощный насос. </p>
    <div class="section-refuel__promo-text">
      <p>3,5<br> <span>минуты</span></p>
      <p>и бак наполнен
        на 100% </p>
    </div>
    <div class="section-refuel__background-decoration_first-el"></div>
    <div class="section-refuel__background-decoration_second-el"></div>
    <div class="section-refuel__details details">
      <div class="details__header">
        <svg class="details__icon">
          <use xlink:href="./img/svg/section-refuel/hose.svg#hose">
          </use>
        </svg>
        <span></span>
        <svg class="details__icon">
          <use xlink:href="./img/svg/section-refuel/power-button.svg#power">
          </use>
        </svg>
      </div>
      <p class="details__text">Достаточно вставить шланг
        Нажать кнопку</p>
    </div>
  </div>
</section>
